<div class="container-fluid" style="margin-top:30px">
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="bg-white shadow rounded ">
          <div class="px-4 bg-gray pt-0 pb-4 py-4 cover">
            <div class="media align-items-end">
                <div class="mr-3 mb-1">
                  <%= gravatar_for @user, size: 130, class: 'mb-2' %>
                </div>
                <div class="media-body mb-5 justify-content-center text-white">
                    <h2 class="mt-1 mb-0"><%= @user.name %></h2>
                    <p class="remove-p-m"> Nome de Usuário: <i class="mr-2"><%= @user.username %></i></p>
                    <% if is_teacher?  %>
                      <b><span class="badge badge-light">Volunteer Teacher</span></b>
                    <% end %>
                </div>
                <div class="d-flex flex-row">
                
                  <% if user_signed_in? && @user.email == current_user.email %>
                    <% if is_teacher_profile? %>
                      <%= link_to 'Adicionar Videoaula <i class="fa fa-plus" style="color:black" aria-hidden="true"></i>'.html_safe, new_video_path, class: "btn bg-white mr-3" %>
                    
                    <% end %>
                    <%= link_to '<i class="fa fa-cog" style="color:black" aria-hidden="true"></i>'.html_safe, edit_user_registration_path, class: "btn bg-white" %>
                  <% end %>
                </div>
            </div>
          </div>
          <% if is_teacher_profile? %>
            <div class="bg-light p-4 d-flex justify-content-center text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item ml-2">
                        <h5 class="font-weight-bold mb-0 d-block"><%= @user.videos.count %></h5><span class="h5 font-weight-bold text-muted"> Videos</span>
                    </li>
                    <li class="list-inline-item ml-2">
                        <h5 class="font-weight-bold mb-0 d-block"><%= @likes %></h5><span class="h5 font-weight-bold text-muted"><i class="fas fa-heart" style="color:#e32222"></i></s>
                    </li>                   
                </ul>
            </div>
          <% end %>
          <div class="px-4 py-3">
              <h5 class="mb-0">Sobre</h5>
              <div class="p-4 rounded shadow-sm bg-light">
                  <% if @user.about.blank? %>
                    <p class="font-italic mb-0"><i>Sem informações...</i></p>
                  <% else %>
                    <p class="font-italic mb-0"><%= @user.about %></p>
                  <% end %>   
              </div>
          </div>
          <% if is_teacher_profile?  %>
            <div class="py-4 px-4">
              <div class="mb-3">
                  <h5 class="mb-0">Vídeoaulas (<%= @user.videos.count %>)</h5>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 mx-auto">
                    <div class="px-4 py-3">
                      <% @videos.each do |video| %>
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1"><%= link_to video.title, video %></h5>
                          <div>
                            <small class="text-muted"><%= video.created_at.to_date %></small>
                            <% if user_signed_in? && @user.email == current_user.email %>
                              <%= link_to 'Editar', edit_video_path(video), class: 'd-inline ml-4' %>
                              <%= link_to video, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                <i class="ml-3 fa fa-trash-o" aria-hidden="true"></i>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <hr>
                      <% end %>
                        <div class="d-flex justify-content-center mt-3">
                          <%= paginate @videos %>
                        </div>
                    </div>
                  </div>                      
                </div>
              </div>
            </div>
          <% end %>
          
          <% if user_signed_in? && @user.email == current_user.email %>
            <div class="py-4 px-4">
              <div class="mb-3">
                  <h5 class="mb-0">Meus Favoritos (<%= @bookmarks.count %>)</h5>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 mx-auto">
                    <div class="px-4 py-3">
                      <% @bookmarks.each do |bookmark| %>
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1"><%= link_to bookmark.title, bookmark %></h5>
                          <div>
                            <small class="text-muted"><%= bookmark.created_at.to_date %></small>
                          </div>
                        </div>
                        <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
              <%= paginate @bookmarks %>
            </div>
          <% end %>
        </div>
    </div>
</div>
</div>

