<%= turbo_frame_tag video do %>
<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible fade show" role="alert">
      <h2><%= pluralize(video.errors.count, "error") %> erros encontrados:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="field form-group">
          <%= form.label :title, 'Título' %><br/>
          <%= form.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field form-group">
          <%= form.label :description, 'Descrição' %><br/>
          <%= form.text_area :description, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
            <%= form.label :category, 'Tópicos relacionados' %><br/>
            <%= form.collection_check_boxes(:category_ids, Category.all, :id, :title, { prompt: 'None'}, { multiple: true} ) do |cat| %>
              <label class="checkbox-inline">
                <%= cat.check_box %>
                <%= cat.label %>
              </label>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field form-group"><i>(Somente arquivo com extensão .mp4)</i>
          <%= form.file_field :video_file, class: 'form-control-file'  %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Postar", class: 'btn btn-success px-3' %>
    </div>
  </div>
  

<% end %>
<% end %>
