
<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<div style="width:400px; height:300px">
  <%= video_tag(url_for(@video.video_file), 
    style: 'width:100%; height: auto', controls: '') %>
</div>

<p>
  <strong>by <%=link_to @video.user.username, user_path(@video.user) %></strong>
</p>
<% @video.categories.each do |category| %>
  <%= category.title %>
<% end %>
<%= render 'comments/comments', commentable: @video %>
<%= render 'comments/form', commentable: @video %>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>


