<header class="bg-gray-light">
  <div class="max-w-7xl mx-auto py-2 px-2 sm:px-6 lg:px-8">
    <h3 class="leading-6 text-white-sm navbar-margins">
      <%= link_to 'Todos Vídeos', videos_path , class:'header-text text-white text-decoration-none text-v-sm' %>
      <span class="mx-2 text-white text-v-sm">/</span>
      <p class="text-white text-v-sm d-inline"><%= @video.title %></p>
    </h3>
  </div>
</header>
  <main class="flex-grow">
    <div class="bg-black">
      <div class="container mx-auto">
        <%= video_tag(url_for(@video.video_file), 
          controls: true, class: ' video-tag') %>
      </div>
    </div>
    <div class="container">
      <div class="d-flex">
        <div class="p-1 mt-3 flex-grow-1">
          <div class="flex-grow">
              <h3 class="text-xl tracking-tight leading-3 text-bold">
                <p class="font-weight-bold"><%= @video.title %></p>
              </h3>
              <small class="text-sm mt-4 text-gray">
                 Publicado em <%= @video.created_at.to_date %>
              </small>
              <div class="mt-2">
                <% @video.categories.each do |cat| %>
                  <span class="inline-flex items-center px-2 py-0.5 rounded bg-blue mr-2">
                    <span class="badge badge-secondary"><%= cat.title %></span>
                  </span>
                <% end %>
              </div>
            </div>
        </div>
        <div class="p-2">
          <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item">
              <a class="-ml-px inline-flex items-center">
                <% if user_signed_in? %>
                  <% pre_like = @video.likes.find { |like| like.user_id == current_user.id } %>
                <% end %>
                <% if pre_like %>
                  <%= link_to video_like_path(@video, pre_like), class: ' text-reset text-decoration-none', method: :delete do %>
                    <i class="fas fa-heart mr-1"></i><%= @video.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to video_likes_path(@video), class: 'text-reset text-decoration-none' , method: :post do %>
                    <i class="far fa-heart mr-1"></i><%= @video.likes.count %>
                  <% end %>
                <% end %>
              </a>
            </li>
            <li class="list-group-item">
              <a class="-ml-px inline-flex items-center border border-gray-300">
                <i class="far fa-bookmark"></i>
              </a>
            </li>
            <li class="list-group-item">
              <a class="-ml-px inline-flex items-center border border-gray-300">
                <i class="fas fa-download"></i>
              </a>
            </li>
            <li class="list-group-item">
              <a class="-ml-px inline-flex items-center ">
                Share
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mx-auto px- flex flex-wrap mt-2">
        <div class="bg-video-author rounded-md sm:rounded-lg mt-4">
          <div class="px-3 py-4">
            <div class="d-flex justify-content-between">
              <h4 class="">
                Seu Professor | <%= @video.user.name %>
              </h4>
              <span class=" rounded-pill mb-2 btn btn-sm btn-dark">Perfil</span>
            </div>
            <div class="d-inline-flex">
              <div class="mr-3">
                <%= gravatar_for @video.user, size: 50 %>
              </div>
              <p class="text-gray">
                <%= truncate(@video.user.about, length: 220)  %>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mt-3">
        <h4 class="font-weight-bold">Sobre essa Aula</h4>
        <p class="text-justify"><%= @video.description %></p>
      </div>
      <hr>
      <div class="commentarios">
        <i><p class="text-muted">Dúvias? Sugestões? Elogios? Deixe um comentário!</p></i>
        <p class="mb-2 h4">Comentários</p>
        <% if user_signed_in? %>
          <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @video } %>
        <% else %>
          <%= link_to 'Realizar login', new_user_session_path, class: "btn btn-primary mt-2" %>
        <% end %>
        <%= turbo_stream_from @video, :comments %>
        <%= tag.div id: "#{dom_id(@video)}_comments" do %>
          <%= render partial: "comments/comment_with_replies", collection: @video.comments.where(parent_id: nil), as: :comment %>
        <% end %>
      </div>
    </div>

    

  </main>



<% if false %>
<div class="grid-container">
  
  <div class="video-content shadow-lg p-3 bg-white rounded">
    
    <div class="d-flex justify-content-center mb-3">
      <%= video_tag(url_for(@video.video_file), 
        size: "750x450", controls: true, class: ' video-tag') %>
    </div>
    <h3><%= @video.title %></h3>
    <div class="mt-2 ml-3">
      <span>Aula por: <%= link_to @video.user.name, user_path(@video.user) %></span> |
      <span>Tópicos: </span>
      <% @video.categories.each do |cat| %>
        <span class="label label-info ml-2 font-weight-bold text-uppercase">
          <%= cat.title %>
        </span>
      <% end %>
      <br/>
      <hr>
      <% if user_signed_in? %>
        <% pre_like = @video.likes.find { |like| like.user_id == current_user.id } %>
      <% end %>
      <% if pre_like %>
        <div class="mt-2">
          <span>Você curtiu esta aula </span>
          <%= link_to video_like_path(@video, pre_like), method: :delete do %>
            <button type="button" class="btn btn-sm btn-warning"><span style="font-size:18px;"><%= @video.likes.count %></span><i class="ml-1 fas fa-star fa-lg"></i></button>
          <% end %>
        </div>
      <% else %>
        <div class="mt-2">
          <span>Gostou da aula? Dê uma </span>
          <%= link_to video_likes_path(@video), method: :post do %>
            <button type="button" class="btn btn-sm btn-warning"><i class="ml-1 far fa-star fa-lg"></i><p style="display: inline"> (<%= @video.likes.count %>)</p></button>
          <% end %>
        </div>
      <% end %>
      <hr>
      <i><h4 class="mt-2">Sobre essa aula</h4></i>
      <p class="ml-3"><%= @video.description %></p>
    </div>
  </div>

    
<% end %>






  <% if false %>
    <div class="navbar-left shadow-lg p-3 mb-5 bg-white rounded">
      <p class="font-weight-bold">NÍVEIS</p>
      <ul class="list-group list-group-flush">
        <% @levels.each do |level| %>
          <li class="list-group-item"><%= link_to level.title, category_path(level) %></li>
        <% end %>
      </ul>
      <p class="font-weight-bold mt-5">Tópicos</p>
      <ul class="list-group list-group-flush">
        <% @categories.each do |cat| %>
          <li class="list-group-item"><%= link_to cat.title, category_path(cat) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


</div>





