<header class="bg-gray-light">
  <div class="max-w-7xl mx-auto py-2 px-2 sm:px-6 lg:px-8">
    <h3 class="leading-6 text-white-sm navbar-margins">
      <%= link_to 'Todos Vídeos', videos_path , class:'header-text text-white text-decoration-none text-v-sm' %>
      <span class="mx-2 text-white text-v-sm">/</span>
      <% unless @video.playlist_id.blank? %>
        <p class="text-white text-v-sm d-inline"><%= truncate(@video.playlist.title, length: 50) %></p>
        <span class="mx-2 text-white text-v-sm">/</span>
      <% end %>
      <p class="text-white text-v-sm d-inline"><%= truncate(@video.title, length: 50) %></p>
    </h3>
  </div>
</header>
  <main class="flex-grow">
    <div class="bg-black">
      <div class="container mx-auto">
        <%= video_tag(url_for(@video.video_file), 
          controls: true, class: ' video-tag') %>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="p-1 mt-3 flex-grow-1">
          <div class="flex-grow">
              <p class="<%= @video.title.size >= 80 ? 'video-title-sm' : 'video-title-bg'  %> font-weight-bold tracking-tight">
                <%= @video.title %>
              </p>
              <div class="mt-2">
                <% @video.categories.each do |cat| %>
                    <span class="badge badge-pill badge-secondary inline-flex mr-2 items-center px-2   text-black ml-2 font-weight-bold text-uppercase" style="opacity: 0.6"><%= cat.title %></span>
                <% end %>                
              </div>
            </div>
        </div>
        <div class="p-2 mt-2 height-actions d-flex justify-content-end">
          <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item" style="height: 45px; padding: 11px 14px;" >
              <a class="-ml-px inline-flex items-center">
                <% if user_signed_in? %>
                  <% pre_like = @video.likes.find { |like| like.user_id == current_user.id } %>
                <% end %>
                <% if pre_like %>
                  <%= link_to video_like_path(@video, pre_like), class: ' text-reset text-decoration-none', method: :delete do %>
                    <i class="fas fa-heart mr-1" style="color:#e32222"></i><%= @video.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to video_likes_path(@video), class: 'text-reset text-decoration-none' , method: :post do %>
                    <i class="far fa-heart mr-1"></i><%= @video.likes.count %>
                  <% end %>
                <% end %>
              </a>
            </li>
            <li class="list-group-item" style="height: 45px; padding: 1 14px;">
              <a class="-ml-px inline-flex items-center">
                <% if user_signed_in? %>
                  <% pre_bookmark = @video.bookmarks.find { |bookmark| bookmark.user_id == current_user.id } %>
                <% end %>
                <% if pre_bookmark %>
                  <%= link_to video_bookmark_path(@video, pre_bookmark), class: 'text-reset text-decoration-none', method: :delete do %>
                    <i class="fas fa-bookmark"></i>
                  <% end %>
                <% else %>
                  <%= link_to video_bookmarks_path(@video), class: 'text-reset text-decoration-none', method: :post do %>
                    <i class="far fa-bookmark"></i>
                  <% end %>
                <% end %>
              </a>
            </li>
            <% if user_signed_in? %>
              <li class="list-group-item" style="height: 45px; padding: 11px 14px;">
                <%= link_to rails_blob_path(@video.video_file, disposition: 'attachment'), class: 'text-reset inline-flex items-center' do %>
                  <i class="fas fa-download"></i>
                <% end %>
              </li>
            <% end %>
            <li class="list-group-item" style="height: 45px; padding: 11px 14px;">
              <div class="dropdown">
                <a class="dropdown-toggle inline-flex items-center text-reset" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Share
                </a>

                <div class="dropdown-menu" style="padding-top:14px!important;padding-left:22px!important" aria-labelledby="dropdownMenuLink">
                  <%= social_share_button_tag(@video.title) %>
                </div>
              </div>
              
            </li>
          </ul>
        </div>
      </div>
      <p class="text-muted mt-2" style="font-size: 1.1rem"><%= @video.impressionist_count %> visualizações</p>
      <div class="mx-auto px- flex flex-wrap ">
        <div class="bg-video-author rounded-md sm:rounded-lg mt-4">
          <div class="px-3 py-4">
            <div class="d-flex justify-content-between">
              <h4 style="opacity:0.8">
                Seu Professor | <%= @video.user.name %>
              </h4>
              <%= link_to 'Perfil', user_path(@video.user), class: 'rounded-pill mb-2 btn btn-sm btn-dark' %>
              
            </div>
            <div class="d-inline-flex">
              <div class="mr-3">
                <%= gravatar_for @video.user, size: 50 %>
              </div>
              <p class="teacher-about">
                <%= truncate(@video.user.about, length: 220)  %>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mt-3">
        <span class=" h5 font-weight-bold">Sobre essa Aula</span>
        <small class="text-sm mt-4 text-gray">
          | Publicado em <%= @video.created_at.to_date %>
        </small>
        
        <p class=" mt-2 text-justify"><%= @video.description %></p>

        <% if @video.material.blank? %>
          
          <br/><p>Essa videoaula não possui material de apoio...</p>
        <% else %>
          <b><p>Material de Apoio: <%= link_to 'Baixar', rails_blob_path(@video.material, disposition: "attachment") %> </p></b>
                    
        <% end %>
      </div>
      <hr>
      
      <% if @video.playlist_id.blank? %>
        <div class="mt-3">
          <span class="h5 font-weight-light" style="text-decoration:underline;">Últimos vídeos adicionados</span><br/>
          <% @latest.each do |vid| %>
          <%= link_to vid.title, vid, style: 'font-size: 22px' %><br/>
          <% end %>
        </div>
      <% else %>
        <div class="mt-3">
          <span class="h5 font-weight-light" style="text-decoration:underline;">Mais vídeos desta playlist</span><br/>
          <% @video.playlist.videos.each_with_index do |vid, index| %>
          <span class="badge badge-pill badge-primary mr-2 mt-3"><%= index+1 %></span><span class="mt-4"><%= link_to vid.title, vid %></span><br/>
          <% end %>
        </div>
      <% end %>
      
      
      <hr>
      <div class="commentarios">
        <i><p class="text-muted">Dúvias? Sugestões? Elogios? Deixe um comentário!</p></i>
        <p class="mb-2 h4">Comentários</p>
        <% if user_signed_in? %>
          <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @video } %>
        <% else %>
          <%= link_to 'Realizar login', new_user_session_path, class: "btn btn-primary mt-2 mb-3" %>
        <% end %>
        <%= turbo_stream_from @video, :comments %>
        <%= tag.div id: "#{dom_id(@video)}_comments" do %>
          <%= render partial: "comments/comment_with_replies", locals: { current_user: current_user}, collection: @video.comments.where(parent_id: nil), as: :comment  %>
        <% end %>
      </div>
    </div>
  </main>
</div>





