<div class="container-fluid" style="margin-top:35px;">
    <div class="row">
      <div class="col-md-10 mx-auto">
  
        <h2>Meus Favoritos (<%= @bookmarks.count %>)</h2>
        <hr>
        <% @bookmarks.each do |video| %>
          <div class="d-flex">
            <div class="mr-3">
              <span class="round"><%= gravatar_for video.user, size: 60 %></span>
            </div>
            <div>
              <span class="h4"><%= link_to video.title, video %></span> <br>
              <% video.categories.each do |cat| %>
                <small class="text-black ml-2 font-weight-bold text-uppercase" style="opacity: 0.6">
                  <%= cat.title %>
                </small>
              <% end %>
              <br>
              <%= truncate(video.description, length: 280) %>
            </div>  
          </div>
          <br/>
          <br/>
        <% end %>

        <div class="d-flex justify-content-center mt-4">
          <%= paginate @bookmarks %>
        </div>
      </div>
    </div>
  </div>