<div class="row align-items-center">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-header">
        <h4>Welcome again!</h4>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field form-group mt-2 mb-10">
            <h5><%= f.label :email %></h5>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
              style: 'margin-top:-15px', class: 'form-control' %>
          </div>

          <div class="field form-group mt-10">
            <h5><%= f.label :password %></h5>
            <%= f.password_field :password, autocomplete: "current-password",
              class: 'form-control', style: 'margin-top: -15px' %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field mt-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Entrar", class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
</div>
