<div class="container" style="margin-top:35px;">
  <h2>Categoria: <%= @category.title %></h2>
  <hr>
  <% if @category_videos.empty? %>
    <p>Sem videoaulas para esta categoria no momento.</p>
  <% else %>
    <% @category_videos.each do |cat| %>
      
      <span class="h4"><%= link_to cat.title, cat %></span> <br>
      <% cat.categories.each do |c| %>
        <small class=" inline-flex mr-2 items-center text-black ml-2 font-weight-bold text-uppercase" style="opacity: 0.6"><%= c.title %></small>
      <% end %><br>
      <%= truncate(cat.description, length: 280) %>
      <br/>
      <br/>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @category_videos %>
  </div>
</div>






