
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:35px">
  <%= link_to root_path do %>
    <%= image_tag("logo.png", width: "160", height:"45") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item pl-2">
        <%= link_to 'Home', root_path, class: 'nav-link font-weight-bold text-white' %>
      </li>
      <li class="nav-item px-2">
        <%= link_to 'Sobre', about_path, class: 'nav-link font-weight-bold text-white' %>
      </li>
      <li class="nav-item px-2">
        <%= link_to 'Todos Vídeos', videos_path, class: 'nav-link font-weight-bold text-white' %>
      </li>
      <li class="nav-item px-2">
        <%= link_to 'Professores', teachers_path, class: 'nav-link font-weight-bold text-white' %>
      </li>
      <li class="nav-item dropdown px-2">
        <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tópicos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">vocabulary</a>
          <a class="dropdown-item" href="#">writing</a>
          <a class="dropdown-item" href="#">speaking</a>
          <a class="dropdown-item" href="#">grammar</a>
          <a class="dropdown-item" href="#">TOEFL</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to current_user, class: 'mr-2' do %>
          <button class="btn btn-info">Perfil</button>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="btn btn-info">Sair</button>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class: 'mr-2' do %>
          <button class="btn btn-info">Criar Conta</button>
        <% end %>
        <%= link_to new_user_session_path do %>
          <button class="btn btn-info">Entrar</button>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>

